/* About.module.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 8rem; /* Equivalent to pt-32 */
  }
  
  .heading {
    font-size: 2.25rem; /* Equivalent to text-4xl */
    text-align: center;
    color: #7f1d1d; /* Equivalent to text-red-950 */
    
  }
  
  .heading-md {
    font-size: 3rem; /* Equivalent to md:text-5xl */
  }
  
  .paragraph {
    color: #1f2937; /* Equivalent to text-gray-900 */
    padding-top: 1rem; /* Equivalent to pt-4 */
    font-size: 1.5rem; /* Equivalent to text-2xl */
  }
  
  @media (min-width: 768px) {
    .heading-md {
      font-size: 3rem;
    }
  }
  
