@tailwind base;
@tailwind components;
@tailwind utilities;
.home{
display: flex;
height: 100vh;
flex-direction: column;
}

body {
    color: black;
    background-color: rgb(193, 169, 207);
}

@layer components{
    .menuLink{
    @apply cursor-pointer
    }
    .tags{
        background-color:purple ;
        margin-right:0.5rem ;
        margin-top: 0.5rem;
        padding:3px 10px ;
        display:inline-block ;
        font-size: 12px;

    }
    .tags:last-child{
        margin-right: 0;
    }
}
